
# Folders

**.prj
**.pdf

# Text files
*.txt
*.docx

# Autosave files
**.asv

# .exe
ID2A/HS_Analysis/HIMIP/20191007_solsa_himip/interface/GUI_fused_HyperSpec/*
ID2A/HS_Analysis/HIMIP/20191007_solsa_himip/interface/run_HyperSpectral/*

ID2A\HS_Analysis\HIMIP\20191007_solsa_himip\Archive_Thanh\*
HIMIP\20191007_solsa_himip\Archive_Thanh\*
20191007_solsa_himip/Archive_Thanh/*
Archive_Thanh/*
ID2A/HS_Analysis/HIMIP/20191007_solsa_himip/Hyperspectral_GUI/*
ID2A/HS_Analysis/HIMIP/20191007_solsa_himip/Hyper_Spectral_Libraries/*

**.exe
**.pdf